@media only screen and (max-width: 768px) {
  html {
    font-size: 15.5px;
  }
}

.portfolio-body .sub-header {
  font-weight: 700;
}
.portfolio-body body {
  background-color: #FDFDFD;
}
.portfolio-body h3, .portfolio-body p, .portfolio-body li, .portfolio-body a {
  line-height: 1.5;
}
.portfolio-body h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #2C3E50;
  font-size: 3rem;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  .portfolio-body h1 {
    font-size: 2.5rem;
  }
}
.portfolio-body h1.bold, .portfolio-body h1 .bold {
  font-weight: 700;
}
.portfolio-body h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #364CEA;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  margin-top: 4px;
}
@media only screen and (max-width: 768px) {
  .portfolio-body h2 {
    text-align: left;
    margin-bottom: 50px;
  }
}
.portfolio-body h3, .portfolio-body .h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #2C3E50;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 700;
}
.portfolio-body p {
  font-family: "Source Sans Pro", sans-serif;
  color: #2C3E50;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}
.portfolio-body p.alt-txt {
  font-family: "Inconsolata", monospace;
  white-space: nowrap;
}
.portfolio-body a {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Source Sans Pro", sans-serif;
  color: #364CEA;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid #FDFDFD;
}
.portfolio-body a.h3 {
  color: #2C3E50;
}
.portfolio-body a.h3:before {
  border-bottom: 1px solid #2C3E50;
}
.portfolio-body a.h3:after {
  border-color: #2C3E50;
  width: 4px;
  height: 4px;
  padding: 2px;
}
.portfolio-body a:hover {
  cursor: pointer;
}
.portfolio-body a:hover:before {
  width: 110%;
  opacity: 1;
  transition: width 1s cubic-bezier(0.3, 0, 0.22, 0.99), opacity 0.1s linear 0s;
}
.portfolio-body a:hover:after {
  transform: rotate(315deg) translateY(6px) translateX(6px);
}
.portfolio-body a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  border-bottom: 1px solid #364CEA;
  height: 1px;
  width: 0%;
  opacity: 0;
  transition: width 1s cubic-bezier(0.79, 0, 0.64, 0.99), opacity 0.1s linear 1s;
}
.portfolio-body a:after {
  content: "";
  width: 1px;
  height: 1px;
  padding: 2px;
  margin: 1px;
  margin-left: 5px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  cursor: pointer;
  display: inline-block;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transition: transform 1s cubic-bezier(0.6, 0, 0.5, 1);
  border-color: #364CEA;
}
.portfolio-body ul {
  list-style: inherit;
}
.portfolio-body ul li {
  font-family: "Source Sans Pro", sans-serif;
  color: #2C3E50;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 8px;
}
.portfolio-body .accent {
  color: #364CEA;
}
.portfolio-body .mt-big {
  margin-top: 70px !important;
}
.portfolio-body .mt-med {
  margin-top: 50px !important;
}
.portfolio-body .mt-sml {
  margin-top: 20px !important;
}
.portfolio-body .mt-xsml {
  margin-top: 3px !important;
}
.portfolio-body .mb-big {
  margin-bottom: 70px !important;
}
.portfolio-body .mt-links {
  margin-top: 70px;
}
.portfolio-body .show-mob {
  display: none;
}
.portfolio-body .show-tablet {
  display: none;
}
@media only screen and (max-width: 500px) {
  .portfolio-body .show-mob {
    display: block;
  }
  .portfolio-body .hide-mob {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .portfolio-body .show-tablet {
    display: block;
  }
  .portfolio-body .hide-tablet {
    display: none;
  }
}
.portfolio-body .page-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.portfolio-body .page-container .col {
  width: 1000px;
  margin: 0px auto 0px auto;
}
@media only screen and (max-width: 1000px) {
  .portfolio-body .page-container .col {
    width: 100vw;
  }
}
.portfolio-body .page-container .col .grid {
  display: grid;
  height: 100vh;
}
.portfolio-body #loading-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.portfolio-body #loading-overlay.animate {
  animation-name: loading-done;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  animation-fill-mode: forwards;
}
@keyframes loading-done {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.portfolio-body #loader {
  font-size: 6rem;
  transform: rotate(28deg) skew(-25deg);
  margin-right: -35px;
}
.portfolio-body #loader h1 {
  margin: -1.1rem;
  animation-name: loading-txt;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media only screen and (max-width: 768px) {
  .portfolio-body #loader h1 {
    margin: -0.8rem;
  }
}
.portfolio-body #loader :nth-child(1) {
  animation-delay: 0s;
}
.portfolio-body #loader :nth-child(2) {
  animation-delay: -0.2s;
}
.portfolio-body #loader :nth-child(3) {
  animation-delay: -0.4s;
}
.portfolio-body #loader :nth-child(4) {
  animation-delay: -0.6s;
}
.portfolio-body #loader :nth-child(5) {
  animation-delay: -0.8s;
}
.portfolio-body #loader :nth-child(6) {
  animation-delay: -1s;
}
.portfolio-body #loader :nth-child(7) {
  animation-delay: -1.2s;
}
.portfolio-body #loader :nth-child(8) {
  animation-delay: -1.4s;
}
.portfolio-body #loader :nth-child(9) {
  animation-delay: -1.6s;
}
.portfolio-body #loader :nth-child(10) {
  animation-delay: -1.8s;
}
@keyframes loading-txt {
  0% {
    opacity: 0.1;
    transform: translateX(-10px) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(10px) translateY(10px);
  }
}
.portfolio-body .landing-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.6fr;
  max-width: 100vw;
}
@media only screen and (max-width: 500px) {
  .portfolio-body .landing-grid {
    grid-template-rows: initial;
  }
}
.portfolio-body .landing-grid #lottie-char {
  position: absolute;
  top: -150px;
  right: -725px;
  width: 1450px;
  transform: scaleX(-1);
  z-index: -1;
}
@media only screen and (min-height: 900px) {
  .portfolio-body .landing-grid #lottie-char {
    top: -5%;
  }
}
@media only screen and (max-width: 768px) {
  .portfolio-body .landing-grid #lottie-char {
    transform: scaleX(-1);
    bottom: 0;
    left: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .portfolio-body .landing-grid #lottie-char {
    right: -60%;
  }
}
@media only screen and (min-width: 1200px) {
  .portfolio-body .landing-grid #lottie-char {
    right: -60%;
  }
}
@media only screen and (min-width: 1350px) {
  .portfolio-body .landing-grid #lottie-char {
    right: -50%;
  }
}
@media only screen and (min-width: 1500px) {
  .portfolio-body .landing-grid #lottie-char {
    right: -40%;
  }
}
@media only screen and (min-width: 1800px) {
  .portfolio-body .landing-grid #lottie-char {
    right: -30%;
  }
}
@media only screen and (min-width: 2100px) {
  .portfolio-body .landing-grid #lottie-char {
    right: -20%;
  }
}
.portfolio-body .landing-grid #lottie-mob {
  position: relative;
  width: 275vw;
  margin: -35vw 0 0 -38vw;
  transform: scaleX(-1);
}
@media only screen and (max-width: 500px) {
  .portfolio-body .landing-grid h1 {
    max-width: calc(100vw - 80px);
    margin-top: -10vw;
    margin-left: 40px;
  }
}
@media only screen and (max-width: 370px) {
  .portfolio-body .landing-grid h1 {
    font-size: 2.5rem;
  }
}
.portfolio-body .landing-txt {
  align-self: end;
  margin-left: 70px;
}
.portfolio-body .arrow-wrapper {
  justify-self: center;
  align-self: end;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}
.portfolio-body .arrow-wrapper:hover .arrow:before {
  transform: rotate(45deg);
  margin-top: 30px;
}
.portfolio-body .arrow-wrapper:hover .arrow:after {
  transform: rotate(-45deg);
  margin-top: 30px;
}
.portfolio-body .arrow-wrapper .arrow {
  display: block;
  position: relative;
}
.portfolio-body .arrow-wrapper .arrow:before, .portfolio-body .arrow-wrapper .arrow:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 3px;
  background-color: #2C3E50;
  border-radius: 1px;
  margin-top: 20px;
  transition: transform 0.8s cubic-bezier(0.78, 0, 0.22, 1), margin-top 0.8s ease-in-out;
}
.portfolio-body .arrow-wrapper .arrow:before {
  content: "";
  margin-left: -12px;
  transform: rotate(-135deg);
}
.portfolio-body .arrow-wrapper .arrow:after {
  content: "";
  margin-left: -2px;
  transform: rotate(135deg);
}
.portfolio-body .portfolio-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.portfolio-body .portfolio-container .col {
  width: 1300px;
  margin: 0px auto 0px auto;
}
@media only screen and (max-width: 1000px) {
  .portfolio-body .portfolio-container .col {
    width: 100vw;
  }
}
.portfolio-body .portfolio-container .col .grid-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 50px;
  height: 100%;
  position: relative;
}
@media only screen and (max-width: 1080px) {
  .portfolio-body .portfolio-container .col .grid-row {
    margin: 0 40px 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .portfolio-body .portfolio-container .col .grid-row {
    grid-template-columns: 1fr;
    grid-column-gap: 50px;
  }
}
.portfolio-body .portfolio-container .col .grid-row .item-list {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
@media only screen and (max-width: 768px) {
  .portfolio-body .portfolio-container .col .grid-row .item-list {
    margin-left: 60px;
  }
}
.portfolio-body .portfolio-container .col .grid-row .item-list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-body .portfolio-container .col .grid-row .item-list .item .item-right {
  max-width: 65%;
}
@media only screen and (max-width: 500px) {
  .portfolio-body .portfolio-container .col .grid-row .item-list .item .item-right {
    max-width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .portfolio-body .portfolio-container .col .grid-row .item-list .item .item-left {
    display: none;
  }
}
.portfolio-body .portfolio-container .col .grid-row .item-list .link-col {
  display: flex;
  flex-direction: column;
}
.portfolio-body .portfolio-container .col .grid-row .toolkit-col {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-column-gap: 10px;
}
@media only screen and (max-width: 768px) {
  .portfolio-body .portfolio-container .col .grid-row .toolkit-col {
    margin-left: 60px;
  }
}
.portfolio-body .portfolio-container .col .grid-row .toolkit-col .tools-col {
  margin-left: 10px;
}
.portfolio-body .portfolio-container .col .grid-row .toolkit-col h3 {
  text-transform: uppercase;
}
.portfolio-body .portfolio-container .col .grid-row .app-mockup {
  position: absolute;
  margin-top: 70px;
  width: 45%;
  left: -100px;
  transform: unset;
  transition: transform 1s cubic-bezier(0.6, 0, 0.5, 1);
}
@media only screen and (max-width: 1200px) {
  .portfolio-body .portfolio-container .col .grid-row .app-mockup {
    width: 40%;
    left: -60px;
  }
}
@media only screen and (max-width: 1020px) {
  .portfolio-body .portfolio-container .col .grid-row .app-mockup {
    width: 35%;
    left: 0px;
  }
}
.portfolio-body .portfolio-container .col .grid-row .app-mockup:hover {
  transform: translateY(-15px);
}
.portfolio-body .portfolio-container .col .grid-row .app-mockup-tablet {
  width: 170%;
  margin-left: -45%;
  margin-bottom: -70px;
}
.portfolio-body .portfolio-container .col .grid-row .contact-icons {
  max-width: 40px;
  width: 40px;
  margin-left: auto;
}
.portfolio-body .portfolio-container .col .grid-row .contact-icons img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */